<!DOCTYPE html>
<html>

<body>
    
    <div>
        <label for="agency-sf">Choose an agency:</label>

        <select name="agency-sf" id="agency-sf">
            <option value="" disabled selected>Select your agency</option>
            {% for login_agency in login_agencies %}
            <option value="{{login_agency}}">{{login_agency}}</option>
            {% endfor %}
        </select>

    </div>

    <div>
        <label for="masterid-sf">Choose a MasterID:</label>

        <select id="masterid-sf">
        </select>
    </div>

    <div>
        <button id="download-button-sf">
            Download Shapefile
        </button>
    </div>

</body>
<script>

    document.getElementById("agency-sf").addEventListener("change",
    async function(e){
        console.log("changed")
        let selectedAgency = document.getElementById("agency-sf").value
        
        formData = new FormData()
        formData.append('selected_agency', selectedAgency)
        
        let resp = await fetch(`/smcchecker/getmasterid`,{
            method: 'post',
            body: formData
        });
            
        let data = await resp.json()
        let masterids = data['masterids']

        var contentString = ` <option value="" disabled selected>Select MasterID</option>`
        Array.from(masterids).forEach(item => {
            contentString += `<option value= "${item}"> ${item}</option>`
        })
        document.getElementById('masterid-sf').innerHTML = contentString;
    })

    document.getElementById("masterid-sf").addEventListener("change", async function(e){
        
        formData = new FormData()
        formData.append('masterid', document.getElementById("masterid-sf").value)
        formData.append('selected_agency', document.getElementById("agency-sf").value)
        
        let resp = await fetch(`/smcchecker/getdownloadlink`,{
            method: 'post',
            body: formData
        });
            
        let data = await resp.json()
        let downLoadLink = data['dl_link']

        document.getElementById("download-button-sf").setAttribute("onclick", `location.href='${downLoadLink}'` )

    })

</script>
</html>