<!DOCTYPE html>
<html>
    <head>
        <script type="module" src="https://js.arcgis.com/calcite-components/1.2.0/calcite.esm.js"></script>
        <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/1.2.0/calcite.css" />
    </head>
<body>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <div class="container" id="main-outer-container">
        <div class="card inner-container">
            <div class="card-body">    
                <div class="card-header">
                    Delineation Checking Tool
                  </div>
                <br>
                <div>
                    <calcite-label>
                        Instruction: To check to see if a station has already been delineated, enter it below:<b>(If you would like to check multiple stations, please separate them by commas - see example input below)</b>
                        <calcite-input placeholder="Example input: SMC06356, SMC06926" id="input-station-sf"></calcite-input>
                    </calcite-label>
                    <calcite-button id="check-station-sf">Check</calcite-button>
                    <calcite-button id="reset-all">Reset All</calcite-button>
                    <calcite-notice open icon="layers-reference" class="notice-station-sf hidden" id="notice-station-sf">
                        <div slot="title">Result</div>
                        <div slot="message" name="message">test</div>
                    </calcite-notice>
                </div>
                <br>
                <div class="download-button-container hidden">
                    <calcite-button id="download-button-sf">
                        Download shapefiles
                    </calcite-button>
                    <calcite-button id="show-map-sf">
                        View Map for Delineated Sites
                    </calcite-button>
                    <calcite-button id="toggle-fullscreen" class="toggle-fullscreen hidden">Full Screen Map</calcite-button>
                </div>
                
                <div>
                    <calcite-loader id="loading-spinner" class="loading-spinner hidden"></calcite-loader>
                </div>
                <br>
                <div label="Visual Map" class="visual-map-container hidden" id="visual-map-container">
                    <iframe id="visual-map" width="700" height="350" src="" ></iframe>
                </div>
            
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('toggle-fullscreen').addEventListener('click', function() {
        const iframeElement = document.getElementById('visual-map');
        if (!document.fullscreenElement) {
            iframeElement.requestFullscreen().catch(err => {
                alert(`Error attempting to enable full-screen mode: ${err.message}`);
            });
        } else {
            document.exitFullscreen();
        }
    });
    document.getElementById('input-station-sf').addEventListener('input', function(event) {
    const value = event.target.value;
    const regex = /^[A-Za-z0-9,\- ]*$/;  // Allow letters, numbers, commas, and spaces

    if (!regex.test(value)) {
        // If the value contains characters other than allowed, show an alert and clear the input
        alert('Only letters, numbers, commas, hyphens, and spaces are allowed.');
        event.target.value = value.replace(/[^A-Za-z0-9, ]/g, ''); // Remove invalid characters
    }
});
</script>
<script src="{{url_for('static', filename='downloadsf.js')}}"></script>
</html>